<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>

<footer class="bg-dark text-white text-center py-3" th:fragment="footer">
    <div>
        <p>&copy; 2025 DOT Burgas All Rights Reserved.</p>
        <ul class="list-unstyled">
            <li><a href="/about" class="text-white">About us</a></li>
            <li><a href="/contact" class="text-white">Contact us</a></li>
            <li><a href="/privacy" class="text-white">Privacy Policy</a></li>
        </ul>
    </div>
</footer>

</body>
</html>
