body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex: 1;
    margin-top: 5px;
    flex-direction: column;
    align-items: center;
}

.content {
    margin-left: 250px; /* Space for the fixed sidebar */
    padding: 30px;
    flex: 1;
    padding-top: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.profile-form {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.profile-form h2 {
    margin-bottom: 20px;
}

.profile-form img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-form div {
    margin-bottom: 15px;
}

.profile-form label {
    display: block;
    margin-bottom: 5px;
}

.profile-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.profile-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.profile-form button:hover {
    background-color: #0056b3;
}

.alert-warning {
    color: red;
    font-weight: bold;
}

.form-fields {
    margin-top: 55px;
}