 .sidebar {
    width: 250px;
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 70px; /* Adjusted to move the sidebar below the header */
    left: 0;
    bottom: 0;
    z-index: 1000;
    overflow-y: auto;
}

.sidebar h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.admin-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
