<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Accommodation</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/accommodation.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/shared.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<div class="container">
    <div class="apartment" th:each="apartment : ${apartments}">
        <div class="photos">
            <img th:each="photo : ${apartment.photos}" th:src="@{${photo}}" th:alt="'Photo of ' + ${apartment.name}">
        </div>
        <div class="info">
            <p th:text="${apartment.description}"></p>
        </div>
        <div class="location">
            <p th:text="'Location: ' + ${apartment.location}"></p>
        </div>
        <a th:href="@{/reservation-request(apartmentId=${apartment.id})}">Create Reservation Request</a>
    </div>
</div>


<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>