<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DOTBurgas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/sidebar.css"/>
    <link rel="stylesheet" href="/css/home-page.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<div class="container">
    <div class="content">

        <div class="card profile">
            <img th:src="${#strings.isEmpty(user.profilePicture) ? 'https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg' : user.profilePicture}"
                 alt="Profile Picture">
            <h2 th:text="${user.getUsername()}"></h2>

            <div class="details">
                <p>
                    <strong>User Role:</strong>
                    <span th:text="${user.role}"
                          th:class="${user.role == 'USER' ? 'role-user' : (user.role == 'ADMIN' ? 'role-admin' : '')}"></span>
                </p>
            </div>

                <p><strong>User ID:</strong> <span th:text="${user.id}"></span></p>
                <p><strong>Email:</strong> <span
                        th:text="${#strings.isEmpty(user.email) ? 'Edit your profile and email!': user.email}"></span>
                </p>
                <p><strong>Joined:</strong> <span
                        th:text="${#temporals.format(user.createdOn, 'dd MMM YYYY HH:mm')}"></span></p>
                <p><strong>Country:</strong> <span th:text="${#strings.capitalize(#strings.toLowerCase(user.country))}">Unknown</span>
                </p>

                <a class="profile-action-button" th:href="@{'users/' + ${user.id} + '/profile'}">
                    <button>Edit Profile</button>
                </a>
            </div>
        </div>

        <div class="row-content">
            <div class="wallet">
                <div class="details">
                    <h3>Wallet</h3>
                    <p><strong>Available Balance:</strong> <span
                            th:text="${user.wallet.balance + ' ' + user.wallet.currency}"></span></p>
                    <p><strong>Wallet ID:</strong> <span th:text="${user.wallet.id}"></span></p>
                    <p><strong>Last Transaction:</strong> <span
                            th:text="${#temporals.format(user.wallet.updatedOn, 'dd MMM YYYY HH:mm')}"></span></p>
                </div>
                <a class="profile-action-button" th:href="@{/wallets}">
                    <button>Open Wallet</button>
                </a>
            </div>

            <div class="loyalty">
                <div class="details">
                    <h3>Loyalty Program</h3>
                    <p><strong>Loyalty id:</strong> <span th:text="${user.loyalty.id}"></span></p>
                    <p><strong>Loyalty Level:</strong> <span th:text="${user.loyalty.loyaltyTier}"></span></p>
                    <p><strong>Created On:</strong> <span
                            th:text="${#temporals.format(user.loyalty.createdOn, 'dd MMM YYYY HH:mm')}"></span></p>
                    <p><strong>Updated On:</strong> <span
                            th:text="${#temporals.format(user.loyalty.updatedOn, 'dd MMM YYYY HH:mm')}"></span></p>
                </div>
                <a class="profile-action-button" th:href="@{/loyalties}">
                    <button>Update Loyalty Subscription</button>
                </a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
