<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DOTBurgas</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>

<body>

<th:block th:insert="fragments/header :: header"></th:block>

<div class="container-fluid">
    <h5 class="text-center text-black">Welcome to DOT Burgas</h5>
</div>

<th:block th:insert="fragments/footer :: footer"></th:block>

</body>

</html>