<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/sidebar.css"/>
    <link rel="stylesheet" href="/css/profile.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>

<body>
<header th:replace="~{fragments/header :: header}"></header>
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<div class="container">
    <div class="content">
        <div class="profile-form">
            <h2>Profile Form</h2>

            <div>
                <img th:src="${#strings.isEmpty(user.profilePicture) ?  'resources/static/img/avatar.jpg' : user.profilePicture}"
                     alt="Profile Picture">
            </div>

            <div>
                <h1><span th:text="${user.username}"></span></h1>
                <p><strong>User id:</strong> <span th:text="${user.id}"></span></p>
                <p><strong>Last profile update:</strong> <span
                        th:text="${#temporals.format(user.createdOn, 'dd MMM YYYY HH:mm')}"></span></p>
            </div>

            <form class="form" th:action="@{'/users/' + ${user.id} + '/profile'}" th:method="PUT"
                  th:object="${userEditRequest}">

                <div class="form-fields">
                    <div>
                        <label for="first-name">First Name</label>
                        <input type="text"
                               id="first-name"
                               name="first-name"
                               placeholder="Enter your first name"
                               required
                               th:field="*{firstName}">
                        <p class="alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                    </div>

                    <div>
                        <label for="last-name">Last Name</label>
                        <input type="text"
                               id="last-name"
                               name="last-name"
                               placeholder="Enter your last name"
                               required
                               th:field="*{lastName}">
                        <p class="alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                    </div>

                    <div>
                        <label for="email">Email</label>
                        <input type="email"
                               id="email"
                               name="email"
                               placeholder="Enter your email address"
                               required
                               th:field="*{email}">
                        <p class="alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                    </div>

                    <div>
                        <label for="profile_picture">Profile Picture URL</label>
                        <input type="text"
                               id="profile_picture"
                               name="profile_picture"
                               placeholder="Enter your profile picture url"
                               required
                               th:field="*{profilePicture}">
                        <p class="alert-warning" th:if="${#fields.hasErrors('profilePicture')}"
                           th:errors="*{profilePicture}"></p>
                    </div>
                </div>

                <div>
                    <button class="profile-action-button">
                        <p>Save</p>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"></path>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
