<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/users.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>

<body>
<header th:replace="~{fragments/header :: header}"></header>
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<div class="wrapper">
    <div class="container">
        <h2>Users List</h2>

        <table class="table table-hover table-striped">
            <thead class="thead-dark">
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Country</th>
                <th>Created On</th>
                <th>Switch Role</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${#strings.isEmpty(user.firstName) and #strings.isEmpty(user.lastName) ? 'Amend profile and add Full Name' : (user.firstName + ' ' + user.lastName)}"></td>
                <td th:text="${#strings.isEmpty(user.email) ? 'Amend profile and add Email' : user.email}"></td>
                <td th:text="${#strings.capitalize(#strings.toLowerCase(user.role.name()))}"></td>
                <td th:text="${#strings.capitalize(#strings.toLowerCase(user.country.name()))}"></td>
                <td th:text="${#temporals.format(user.createdOn, 'dd MMM yyyy')}"></td>

                <td>
                    <!-- /admin/users/{id}/role -->
                    <form th:action="@{'/admin/users/' + ${user.id} + '/role'}" th:method="PUT">
                        <button class="role-toggle-btn">
                            <span>Switch</span>
                            <i class="fas fa-exchange-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>

        </table>
        <div class="no-transactions" th:if="${#lists.isEmpty(users)}">
            No user Information found.
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
