<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Wallet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/sidebar.css"/>
    <link rel="stylesheet" href="/css/wallet.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>
<header th:replace="~{fragments/header :: header}"></header>
<div th:replace="~{fragments/sidebar :: sidebar}"></div>
<body>

<div class="main-content">
    <div class="wallet">
        <h1 class="my-wallet">My Wallet</h1>
        <div class="wallet-balance">

            <span id="name"
                  th:text="${#strings.isEmpty(user.firstName) or #strings.isEmpty(user.lastName) ? user.username : user.firstName + ' ' + user.lastName}"></span>
            <p><strong>Balance: </strong><span id="balance" th:text="${user.wallet.balance + ' ' + user.wallet.currency}"></span></p>
        </div>
        <div class="wallet-actions">

            <form th:action="@{'/wallet/' + ${user.wallet.id} + '/balance/top-up'}" th:method="PUT">
                <button type="submit" class="profile-actions-button">
                    <p>500.00 EUR</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"></path>
                    </svg>
                </button>
            </form>
        </div>

        <div class="details-section">
            <p>
                <p><strong>Wallet Id: </strong><span th:text="${user.id}"></span></p>
                <p><strong>Created on: </strong><span th:text="${#temporals.format(user.wallet.createdOn, 'dd MMM YYYY HH:mm')}"></span></p>
            </p>


            <div class="wallet-activity">
                <div class="activity-entry" th:each="transaction : ${lastFiveTransactions[user.wallet.getId()]}">
                                    <svg th:if="${transaction.type.name() == 'DEPOSIT'}" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-up amount-in" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"></path>
                                    </svg>
                                    <svg th:if="${transaction.type.name() == 'WITHDRAWAL'}" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-down amount-out" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"></path>
                                    </svg>
                    <div class="activity-entry-description-and-date">
                        <p class="activity-entry-description" th:utext="${transaction.description}"></p>
                        <p class="activity-entry-date" th:text="${#temporals.format(transaction.createdOn, 'dd MMM YYYY HH:mm:ss')}"></p>
                    </div>
                        <p th:if="${transaction.type.name() == 'DEPOSIT'}" class="activity-entry-amount amount-in" th:text="${'+' + transaction.amount + ' EUR'}"></p>
                        <p th:if="${transaction.type.name() == 'WITHDRAWAL'}" class="activity-entry-amount amount-out" th:text="${'-' + transaction.amount + ' EUR'}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
